body {
  font-family: "SimplonNorm-Light";
}

.app {
  display: flex;
  position: relative;
  width: 99%;
  height: 100vh;
}

.post-index {
  width: 95%;
}

.post-index ul {
  height: 100%;
  width: 100%;
  overflow: auto;
  position: absolute;
}

.post-index li {
  float: left;
  height: 45%;
  position: relative;
}

.post-index li:not(:first-child) {
  cursor: pointer;
}

.post-index li:not(:first-child):hover {
  box-shadow: 0px 0px 10px black;
  opacity: 0.8;
}

.ig-photo-li,
.fb-post-li-short {
  width: 23%;
}

.fb-post-li-long, .title {
  width: 46%;
}

h2 {
  font-size: 36px;
  font-weight: bold;
}

img {
  width: 100%;
  height: 100%;
}

.fb-post-li-long, .fb-post-li-short, .title {
  color: white;
}

.title, .fb-post-li-long {
  background: linear-gradient( 90deg, rgba(232, 205, 210, 1), rgba(85, 105, 123, 0.5));
}

.fb-post-li-short {
  background: linear-gradient( 90deg, rgba(85, 105, 123, 0.4), rgba(85, 105, 123, 0.7));
}

$font-size: 20px;
$line-height: 1.4;
$lines-to-show: 3;

.fb-post {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 50px;
}

.title div {
  display: block;
  margin: 10%;
  position: absolute;
  top: 3%;
  height: 45%;
}

.title p {
  margin-top: 20px;
  overflow: hidden;
}

.hidden {
  display: none;
}

.post-index ul li i {
  font-size: 24px;
  position: absolute;
}

.fb-post-li-short i,
.ig-photo-li i {
  top: 90%;
  left: 90%;
}

.fb-post-li-long i {
  left: 95%;
  top: 90%;
}

.fa-bars{
  visibility: hidden;
  position: absolute;
}

@media screen and (max-width: 1300px) {
  .post-index ul li {
    height: 38%;
  }

  .title div {
    top: 0%;
  }
}

@media screen and (max-width: 1100px) {
  .post-index ul li {
    height: 35%;
  }

  .title div {
    margin: 7%;
  }

  .fb-post-li-short i,
  .ig-photo-li i {
    top: 86%;
    left: 86%;
  }

  .fb-post-li-long i {
    left: 91%;
    top: 86%;
  }
}

@media screen and (max-width: 950px) {
  .post-index ul li {
    height: 30%;
  }

  .title div {
    margin: 4%;
  }

  .post {
    background: white;
    border: 10px solid black;
    width: 50%;
    height: 90vh;
    overflow:auto;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
  }

  .fa-times-circle-o {
    font-size: 36px !important;
    top: 1%;
    left: 95%;
  }
}

@media screen and (max-width: 800px) {
  .post-index ul li {
    height: 25%;
  }

  .fb-post {
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    height: 14px*$line-height*$lines-to-show; /* Fallback for non-webkit */
    margin: 0 auto;
    font-size: 14px;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 30px;
  }

  .title p {
    font-size: 12px;
  }

  .title h2 {
    font-size: 30px;
  }

  .fb-post-li-short i,
  .ig-photo-li i {
    top: 84%;
    left: 84%;
  }

  .fb-post-li-long i {
    left: 89%;
    top: 84%;
  }
}

@media screen and (max-width: 650px) {
  .post-index ul li {
    height: 20%;
  }

  .title p {
    font-size: 10px;
  }

  .title h2 {
    font-size: 24px;
  }

  .post {
    width: 60%;
  }

  .fa-times-circle-o {
    left: 92%;
  }

  .fb-post-li-short i,
  .ig-photo-li i {
    top: 80%;
    left: 82%;
  }

  .fb-post-li-long i {
    left: 89%;
    top: 80%;
  }

}

@media screen and (max-width: 500px) {
  .app {
    width: 100%;
  }

  .nav-bar {
    display: none;
  }

  .app {
    display: flex;
    flex-direction: column;
  }

  .post-index ul li {
    float: left;
    width: 50%;
    height: 30%;
  }

  .post-index ul li:first-child {
    width: 100%;
  }

  .title div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .title h2 {
    font-size: 36px;
  }

  .title p {
    font-size: 16px;
    text-align: center;
  }

  .fb-post {
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
    margin: 0 auto;
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 50px;
  }

  .fa-bars {
    position: absolute;
    color: black;
    background-color: transparent;
    visibility: visible;
    display: absolute;
    z-index: 2;
    border: 3px solid black;
    margin: 10px;
    padding: 3px;
    cursor: pointer;
  }

  .fa-bars:hover {
    color: white;
    border: 3px solid white;
  }

  .nav-bar-modal {
    width: 30%;
    height: 100vh;
    background-color: white;
    padding: 30px;
    box-shadow: 0px 0px 10px gray;
    float: left;
    z-index: 2;
    transform: translateX(10%);
    transition: transform 1s ease-in-out;
  }

  .post {
    width: 80%;
    left: 49%;
  }

  .fb-post-li-short i,
  .ig-photo-li i {
    top: 86%;
    left: 87%;
  }

}
