.navbar-modal {
  font-family: "SimplonNorm-Regular";
  line-height: 30px;
  color: white;
  text-align: center;
  width: 30%;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  text-shadow: 0px 0px 20px black;
}

.navbar-modal h2 {
  font-family: "SimplonMono-Bold";
  margin-bottom: 20px;
}

.nav-bar-modal {
  width: 15%;
  background-color: white;
  padding: 30px;
  box-shadow: 0px 0px 10px gray;
  float: left;
  z-index: 2;
  transform: translateX(10%);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.nav-title h1{
  font-size: 20px;
  line-height: 0.8;
  font-family: "SimplonMono-Bold";
}

.nav-title {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.links li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links p {
  font-size: 12px;
  font-family: "SimplonMono-Medium";
  cursor: pointer;
}


.nav-bar-modal .links li:hover > div {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.nav-bar-modal .links {
  margin: 20px;
}

.nav-bar-modal .links li div {
  margin: 3vh 0;
}

.nav-bar-modal .links li:hover > p {
  text-decoration: underline;
}
