.ReactModal__Body--open {
  overflow-y: hidden;
}

.post {
  background: white;
  border: 10px solid black;
  width: 40%;
  height: 90vh;
  overflow:auto;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}

.ig-modal img {
  width: 100%;
}

.ig-modal p,
.fb-modal p {
  padding: 20px;
}

.modal {
  display: flex;
}

.fa-times-circle-o {
  background: transparent;
  font-size: 72px !important;
  position: absolute;
  top: 45%;
  left: 35%;
  cursor: pointer;
}

.fa-times-circle-o:hover {
  color: white;
}

.post-modal-header {
  display: flex;
  align-items: center;
}

.post i {
  padding: 10px;
  font-size: 24px;
}

.post .fa-facebook-square {
  color: #4267B2;
}

.post p {
  font-family: "SimplonNorm-Regular";
}

.share {
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
}

.fa-facebook-official,
.fa-twitter,
.fa-envelope {
  color: #6B7A88;
}

.fa-facebook-official:hover {
  color: #4267B2;
}

.fa-twitter:hover {
  color: #53A9EA;
}

.fa-envelope:hover {
  color: #D84A38;
}

.left:hover {
  color: #6B7A88;
}
