@media screen and (max-width: 1300px) {
  .post-index ul li {
    width: 30%;
  }

  .title div {
    top: 0%;
  }

  .app {
    width: 98.5%;
  }

  .navbar-modal {
    left: 60%;
  }

  .app {
    height: 1000px;
  }
}

@media screen and (max-width: 1250px) {
  .post-index ul li {
    height: 37%;
  }

  .app {
    width: 98%;
  }
}

@media screen and (max-width: 1175px) {
  .post-index ul li {
    height: 35%;
  }
}

@media screen and (max-width: 1100px) {
  .post-index ul li {
    height: 36%;
  }

  .title div {
    margin: 7%;
  }

  .fb-post-li-short i,
  .ig-photo-li i {
    top: 86%;
    left: 86%;
  }

  .fb-post-li-long i {
    left: 91%;
    top: 86%;
  }
}

@media screen and (max-width:1075px) {
  .post-index ul li {
    height: 35%;
  }
}

@media screen and (max-width:1020px) {
  .post-index ul li {
    height: 32%;
  }

  .app {
    width: 97%;
  }
}

@media screen and (max-width: 950px) {
  .post-index ul li {
    height: 30%;
  }

  .title div {
    margin: 4%;
  }

  .post {
    background: white;
    border: 10px solid black;
    width: 50%;
    height: 90vh;
    overflow:auto;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
  }

  .fa-times-circle-o {
    font-size: 36px !important;
    color: white;
    top: 1%;
    left: 95%;
  }

  .fa-times-circle-o:hover {
    color: rgba(232, 205, 210, 0.8);
  }

  .app {
    width: 96.5%;
  }

}

@media screen and (max-width: 850px) {
  .post-index ul li {
    height: 28%;
  }

  .app {
    width: 96%;
  }

  .title p {
    font-size: 12px;
    margin-top: 3px;
  }

  .title h2 {
    margin-top: 10px;
    font-size: 30px;
  }
}

@media screen and (max-width: 800px) {
  .post-index ul li {
    height: 25%;
  }

  .fb-post {
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    height: 14px*$line-height*$lines-to-show; /* Fallback for non-webkit */
    margin: 0 auto;
    font-size: 14px;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 30px;
  }

  .fb-post-li-short i,
  .ig-photo-li i {
    top: 84%;
    left: 84%;
  }

  .fb-post-li-long i {
    left: 89%;
    top: 84%;
  }

  .app {
    width: 95.5%;
  }
}

@media screen and (max-width: 740px) {
  .app {
    width: 94.5%;
  }

  .post-index ul li {
    height: 22%;
  }
}

@media screen and (max-width: 650px) {
  .post-index ul li {
    height: 19%;
  }

  .title p {
    font-size: 10px;
  }

  .title h2 {
    font-size: 24px;
  }

  .post {
    width: 60%;
  }

  .fa-times-circle-o {
    left: 92%;
  }

  .fb-post-li-short i,
  .ig-photo-li i {
    top: 80%;
    left: 82%;
  }

  .fb-post-li-long i {
    left: 89%;
    top: 80%;
  }

  .app {
    width: 93.5%;
  }
}

@media screen and (max-width:600px) {
  .post-index ul li {
    height: 17%;
  }

  .app {
    width: 86%;
  }

  .post-index ul li {
    float: left;
    width: 50%;
    height: 25%;
  }

  .post-index ul li:first-child {
    width: 100%;
  }

  .title div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .title h2 {
    font-size: 36px;
  }

  .title p {
    font-size: 16px;
    text-align: center;
  }

}

@media screen and (max-width: 500px) {
  .post-index ul li {
    height: 20%;
  }

  .app {
    width: 100%;
  }

  .nav-bar {
    display: none;
  }

  .app {
    display: flex;
    flex-direction: column;
  }

  .title p {
    font-size: 14px;
  }

  .fb-post {
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
    margin: 0 auto;
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 40px 30px 30px 30px;
  }

  .fa-bars {
    position: absolute;
    color: black;
    background-color: transparent;
    visibility: visible;
    display: absolute;
    z-index: 2;
    border: 3px solid black;
    margin: 10px;
    padding: 3px;
    cursor: pointer;
  }

  .fa-bars:hover {
    color: white;
    border: 3px solid white;
  }

  .nav-bar-modal {
    width: 30%;
    height: 100vh;
    background-color: white;
    padding: 30px;
    box-shadow: 0px 0px 10px gray;
    float: left;
    z-index: 2;
    transform: translateX(10%);
    transition: transform 1s ease-in-out;
  }

  .post {
    width: 80%;
    left: 49%;
  }

  .fb-post-li-short i,
  .ig-photo-li i {
    top: 86%;
    left: 87%;
  }

  .navbar-modal {
    left: 75%;
  }
}
